VITE_SUPABASE_URL=https://unndudeqyhulqkdzfphg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVubmR1ZGVxeWh1bHFrZHpmcGhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODIzODksImV4cCI6MjA4OTc1ODM4OX0.jAx9wdsdESZWbGU5ttw9mDLqXztObLy0-X6_36XQRiA
